<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="vos-web">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %t %p %X{name} [%c(line\:%L)] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.jiuzi.billing" level="info"></Logger>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
